@keyframes cursor-blink {
  to {
    visibility: hidden;
  }
}

#box2, #box3, #box4, #box5, #box6 {
  padding: none;
}

#box2 h1, #box3 h1, #box4 h1, #box5 h1, #box6 h1, #box22 h1 {
  display: flex;
  align-items: center;
  gap: 0px;
}

#box2 h1:after {
  content: "";
  visibility: hidden;
  width: 12px;
  height: 21px;
  position:absolute; 
  left:548px;
  bottom:4px;
  background: #33ff00;
}

#box22 h1:after {
  content: "";
  visibility: hidden;
  width: 12px;
  height: 21px;
  position:absolute; 
  left:340px;
  bottom:4px;
  background: #33ff00;
}

#box3 h1:after, #box4 h1:after, #box5 h1:after, #box6 h1:after {
  content: "";
  visibility: hidden;
  width: 12px;
  height: 21px;
  transform: translate(0, 2px);
  background: #FFb000;
  
}

/* BOX #2 */

.name-title:hover #box2 h1:after {
  visibility: visible;
  animation: cursor-blink 1.5s steps(2, start) infinite;
}

#huevo:hover ~ .name-title #box2 h1:after {
  visibility: visible;
  animation: cursor-blink 1.5s steps(2, start) infinite;
}

/* BOX #3 */


#about-me:hover #box3 h1:after {
  visibility: visible;
  animation: cursor-blink 1s steps(2, start) infinite;
}

#huevo:hover ~ #about-me #box3 h1:after {
  visibility: visible;
  animation: cursor-blink 1s steps(2, start) infinite;
}

/* BOX #4 */

#recent-work:hover #box4 h1:after {
  visibility: visible;
  animation: cursor-blink 0.75s steps(2, start) infinite;
}

#huevo:hover ~ #recent-work #box4 h1:after {
  visibility: visible;
  animation: cursor-blink 0.75s steps(2, start) infinite;
}

/* BOX #5 */

#additional-reading:hover #box5 h1:after {
  visibility: visible;
  animation: cursor-blink 0.6s steps(2, start) infinite;
}

#huevo:hover ~ #additional-reading #box5 h1:after {
  visibility: visible;
  animation: cursor-blink 0.6s steps(2, start) infinite;
}

/* BOX #6 */

#contact:hover #box6 h1:after {
  visibility: visible;
  animation: cursor-blink 0.5s steps(2, start) infinite;
}

#huevo:hover ~ #contact #box6 h1:after {
  visibility: visible;
  animation: cursor-blink 0.5s steps(2, start) infinite;
}

/* BOX 22 */

.name-title:hover #box22 h1:after {
  visibility: visible;
  animation: cursor-blink 1s steps(2, start) infinite;
}

/*-------------------FOOTNOTE STUFF-------------------*/

#huevo {
  padding: none;
  margin: none;
  transform: translate(20px, 847px);
}

@media only screen and (orientation: portrait) {
  #huevo {
    visibility: hidden;
  }
}

#huevo p {
  display: flex;
  align-items: center;
  gap: 0px;
  font-size: 15px;
}

#box7 p:after {
  content: "";
  visibility: hidden;
  width: 12px;
  height: 21px;
  background: #33ff00;
} 

#huevo:hover #box7 p:after {
  visibility: visible;
  animation: cursor-blink 3s steps(2, start) infinite;
} 

.post-container {
  padding: none;
  margin: none;
  font-size: 20px;
}

.post-container a {
  display: flex;
  align-items: center;
  gap: 2px;
}

.post-box {
  height: 100%;
}

.post-box a:after {
  content: "";
  visibility: hidden;
  transform: translate(0px, 1.5px);
  width: 12px;
  height: 21.5px;
  background: #33ff00;
}

.post-container:hover .post-box a:after {
  visibility: visible;
  animation: cursor-blink 1s steps(2, start) infinite;
}