*, html, body {
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
}

 @font-face { font-family: Terminal; src: url('fonts/EpsonMxSeriesDmp-ZVRG8.ttf'); } 

@font-face { font-family: Intro; src: url(fonts/IntroDemoCond-LightCAPS.ttf); }

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  color: #33ff00;
  font-family: Terminal;
  background-color: #282828;
}

h1 {
  margin: 20px;
  font-size: 40px;
}

.date {
  font-size: 20px;
  color: #FFCC00;
}

.container {
  width: 100vw;
  text-align: center;
}

.header {
  width: 700px;
  display: inline-block;
  height: 100%;
}

.line {
  width: 100%;
  display: inline-block;
  padding-top: 20px;
}

.body {
  width: 700px;
  display: inline-block;
}

.body-paragraph {
  font-size: 1.25rem;
  font-family: "Lucida Console", "Courier New", monospace;
  margin: 20px;
  text-align: left;
}

.footy {
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  font-display: italic;
}

.footy a {
  text-decoration: none;
  color: #33ff00;
}

.footy a:hover {
  text-decoration: underline;
}